# Node / React (Frontend)
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# MacOS / OS specific
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
