fastapi
uvicorn[standard]
pydantic[email]
pymongo[srv]
motor
langchain-text-splitters
pymupdf
python-multipart
python-dotenv
supabase
passlib[bcrypt]
bcrypt==4.0.1
pyjwt
# Force CPU-only PyTorch to save RAM/Disk space
--find-links https://download.pytorch.org/whl/cpu
torch
sentence-transformers
